<%- include('layouts/header'); -%>
<body>
  
    <%- include('layouts/navbar'); -%>

 <!-- Main Content -->
 <div class="containe my-3">
   <h1 class="display-4 text-center title-logo"><i class="fas fa-map-marked mr4"></i> Les Meves Posicions</h1>
  <div id="map" style="width: 100%; height: 600px; border-radius: 5px;"></div>
  </div>
 <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for (var i = 0; i < blogposts.length; i++){ %>
          <div class="post-preview">
            <a href="/position/<%= blogposts[i]._id%>">
              <h2 class="post-title">
                <%= blogposts[i].title %>
              </h2>
              <h3 class="post-subtitle">
                <%= blogposts[i].body %>
              </h3>
            </a> 
            <p class="post-meta">
             Posted by <%= blogposts[i].userid.username %> on <%= blogposts[i].datePosted.toDateString() %></p>     
          </div>
          <hr>
        <%}%>
        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
      </div>
    </div>
  </div>

  <hr>

<%- include('layouts/scripts'); -%>
<script src="/js/mapa.js"></script>
</body>
</html>