<%- include('layouts/header'); -%>
<body onload="init()">
  
    <%- include('layouts/navbar'); -%>

 <!-- Main Content -->
 <main>
  <div id="map" style="width: 100%; height: 600px; border-radius: 5px;"> </div> 
  <pre class="coordinate" id="coordenades"></pre>
  <br>
  <pre class="geologicDescription" id="geologicDescription">Clica al mapa per obtenir descripcions litològiques.</pre>

 <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for (var i = 0; i < blogposts.length; i++){ %>
          <div class="post-preview">
            <a href="/position/<%= blogposts[i]._id%>">
              <h2 class="post-title">
                <%= blogposts[i].title %>
              </h2>
              <h3 class="post-subtitle">
                <%= blogposts[i].body %>
              </h3>
            </a> 
            <p class="post-meta">
             Creat per <%= blogposts[i].userid.username %> al <%= blogposts[i].datePosted.toDateString() %></p>     
          </div>
          <hr>
        <%}%>
        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
      </div>
    </div>
  </div>

  <hr>
</main>
<%- include('layouts/scripts'); -%>
<script src="/js/mapa.js"></script>
</body>
</html>