
  <%- include('layouts/header');-%>

<body>

  <%- include('layouts/navbar'); -%>
  <br>
  <br>
    <div class="container" style="max-width: 400px;">     
      <div style="width: 100%; max-width: 400px;">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="post-heading">
              <h2 id="currenttitle"><%= blogpost.title %></h2>
             <br>
              <h4 class="subheading"><%= blogpost.body %></h4>
              <!-- <h3 id="idpost"> blogpost._id </h3> -->
            </div>
            <br>
            <div class="text-center">
              <img src="<%= blogpost.image %>" style="height:300px;max-width: 300px;">
              <p class="post-meta">Creat al <%= blogpost.datePosted.toDateString() %></p>
             
              <div class="d-flex justify-content-around">
                <a class="delete" data-doc="<%= blogpost._id %>"><button  type="button" class="btn btn-danger" 
                  data-toggle="modal">Elimina </button></a> 
                <!-- dataset o data-id per passar info a js -->
               <div style=" border-radius: 50%; padding: 8px;">
                  <button onclick="openForm()" type="button" class="btn btn-warning" 
                          data-toggle="modal" style="padding: 6px 20px;">Edita </button>
               </div>
              </div>
            </div>
            
            

            <div class="form-popup" id="myFormEdit">
              <form id="edit" data-id="<%= blogpost._id %>" class="form-container">
                <label><b>Nou títol: </b></label>
                <input id="new-name" type="text" placeholder="<%= blogpost.title %>" required>
            
                <label><b>Nova descripció: </b></label>
                <input id="new-description" type="text" placeholder="<%= blogpost.body %>">
            
                <button data-id="<%= blogpost._id %>" class="btn">Edita</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Tanca</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  
   <%- include('layouts/scripts');-%> 
   <script src="/js/deletePositions.js"></script>
   <script src="/js/updatePositions.js"></script>

</body>
</html>
