
  <%- include('layouts/header');-%>

<body>

  <%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <br>
  <br>
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Registra un nou compte</h1>            
          </div>
        </div>
      </div>
    </div>
  </header>
  <br>
  
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10 mx-auto">   

        <% if(errors != null && errors.length > 0) {%> 
          <ul class="list-group">
            <% for(var i = 0; i < errors.length; i++){ %>
              <li class="list-group-item list-group-item-danger">
                <%= errors[i] %>
              </li>
            <% } %>      
          </ul>
        <% } %>

        <form action="/users/register" method="POST" enctype="multipart/form-data">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label class="label-forms">Nom d'Usuari</label>
              <input type="text" class="form-control" placeholder="Nom d'Usuari" id="username" name="username" value="<%= username %>">              
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label class="label-forms">Contrasenya</label>
              <input type="password" placeholder="Contrasenya" class="form-control" id="password" name="password" autocomplete="on" value="<%= password %>">              
            </div>
          </div>                   
          <br>  
          <div class="d-flex justify-content-end control-group">              
            <button type="submit" class="btn btn-primary" style="margin-right: 5px;" >Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  



  <%- include('layouts/scripts');-%> 

</body>

</html>
